.footerAboutBannerCommonWrapContainer {
   height: 100%;
   background-color: #023fb7;
   background-image: url("../../../public/assets/pages/hosting/hostBg.png");
   background-size: cover;
   background-position: center;
   position: relative;
   margin: 6rem;
   height: 230px;
   border-radius: 8px;
   max-width: 1300px;
   width: 100%;
   display: flex;
   align-items: center;
   text-align: center;
   /* justify-content: center; */
}

.footerAboutBannerCommonWrap {
   padding: 0px 0px 0px 90px;
   display: flex;
   align-items: center;
   height: 230px;
   width: 100%;
}

.footerAboutBannerCommonTitleBox {
   display: flex;
   flex-direction: column;
   justify-content: start;
   width: 100%;
}

.footerAboutBannerCommonTitle {
   font-size: 26px;
   font-weight: 600;
   margin-bottom: 20px;
   text-align: start;
   color: #fff;
}

.footerAboutBannerCommonCard {
   display: flex;
   flex-direction: column;
   justify-content: start;
}

.footerAboutBannerCommonImgBox {
   text-align: start !important;
}

.footerAboutBannerCommonImg {
   margin-bottom: 20px;
}

.footerAboutBannerCommonCardTitle {
   font-size: 32px;
   font-weight: 600;
   margin-bottom: 6px;
   text-align: start;
   color: #fff;
}
.footerAboutBannerCommonCardSub {
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 12px;
   text-align: start;
   color: #ededed;
}

@media (max-width: 1080px) {
   .footerAboutBannerCommonWrap {
      padding: 0px 0px 0px 50px;
   }
}
@media (max-width: 1000px) {
   .footerAboutBannerCommonWrap {
      padding: 0px 0px 0px 30px;
   }
}
@media (max-width: 940px) {
   .footerAboutBannerCommonWrap {
      padding: 0px 0px 0px 20px;
   }
}
@media (max-width: 899px) {
   .footerAboutBannerCommonWrapContainer {
      margin: 6rem 2rem;
      height: 400px;
   }
   .footerAboutBannerCommonWrap {
      padding: 0px 0px 0px 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 400px !important;
      width: 100%;
   }
}
@media (max-width: 599px) {
   .footerAboutBannerCommonWrapContainer {
      margin: 6rem 2rem;
      height: 900px;
   }
   .footerAboutBannerCommonWrap {
      padding: 0px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 900px !important;
      width: 100%;
   }
   .footerAboutBannerCommonTitleBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
   }
   .footerAboutBannerCommonImgBox {
      text-align: center !important;
   }

   .footerAboutBannerCommonCardTitle {
      text-align: center;
   }
   .footerAboutBannerCommonCardSub {
      text-align: center;
   }
   .footerAboutBannerCommonCard {
      margin-bottom: 20px;
   }
}
